
        .chart-container {
            width: 30vw;
            margin: 0 ;
            padding: 0px;
            box-sizing: border-box;
            height: 22vh;
        }

        i{
            margin-right:3px;
        }

        /* Style for the canvas element */
        canvas {
            width: 100%;
            height: auto;
        }
        #mainChartContainer{
            background-color: #F4F0FE ;
            padding:5px;
            height: 30vh;
        }

        body {
            background-color: #F6F7F8;
            font-family: "Manrope", sans-serif;
            margin: 0;
            padding: 0;
        }

        main {
            display: flex;
            margin-top: 10px;
        }

        main > * {
            margin: 0px 15px;
        }

        #navbar {
            background-color: #fff;
            box-sizing: border-box;
            border-radius: 40px;
            width: 98vw;
            height: 50px;
            display: flex;
            font-family: "Manrope", sans-serif;
            margin-top: 10px
        }

        #navbarOptions {
            list-style-type: none;
            display: flex;
            width: 40vw;
            height: 100%;
            margin-left: 10vw;
            margin-top: 0;
            justify-content: center;
            align-items: center;
        }

        #navbarOptions > * {
            cursor: pointer;
            border-radius: 40px;
            flex: 1;
            height: 3vh;
            padding-top: 1vh;
            text-align: center;
        }

        .active {
            background-color: #01f0d0;
        }

        #seniorWomanDoctor {
            margin-left: 15vw;
            height: 30px;
        }

        #womanDoctor {
            display: flex;
        }

        #settingIcon {
            position: relative;
            top: 10px;
            left: 10px;
            cursor: pointer;
        }

        #threedots {
            position: relative;
            top: 7px;
            right: -30px;
            cursor: pointer;
            font-size: 3vh;
        }

        #patientsList {
            height: 85vh;
            width: 23vw;
            background-color: white;
            border-radius: 30px;
            padding: 10px;
            overflow: hidden;
        }

        .profile-list {
            list-style-type: none;
            height: 85vh;
            padding: 0;
            margin: 0;
            overflow: scroll;
        }

        .profile-list li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .profile-list img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .gender-age {
            font-size: 12px;
            color: #888; 
        }
        .profile-list .name {
            flex: 1;
        }

        .profile-list .dots {
            margin-left: auto;
        }

        #dashboard {
            height: 60vh;
            width: 50vw;
            background-color: white;
            border-radius: 30px;
            padding-left: 2vw;
            padding-right: 2vw;
        }
        
        #patientDetail {
            width: 25vw;
            padding: 5px;
            display: flex;
            flex-direction: column;
        }
            /* Lab Result CSS STARTS */
        #labResults {
            height: 24vh;
            border-radius: 30px;
            background-color: #fff;
            margin-top: 1vh ;
            overflow:scroll;
            padding: auto;
        }

        #reports {
            list-style-type: none;
        }

        .labResultElement {
            display: flex;
            align-items: center; 
            justify-content: space-between; 
            margin-right: 10px;
        }

        .labResultElement:not(:first-child) {
            margin-top: 3vh;
        }

        .downloadIcon {
            width: 16px;
            height: 16px;
            margin-left: 10px; 
            cursor: pointer;
        }
        /* Lab Result CSS ENDS */

        /* VITALS CSS STARTS */
        .vitals {
            display: flex;
            gap:59px;
            margin-top: 20px;
            box-sizing: border-box;
        }
        
        .vital {
            width: 25%;
            max-height: 15vh;
            padding:10px;
            border-radius: 8px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .vital:first-child{
            background-color: #E0F3FA;
        }
        .vital:nth-child(2){
            background-color: #FFE6E9;
        }
        .vital:last-child{
            background-color: #FFE6F1;
        }
        /* VITALS Result CSS END */

        /* DIANOSTICLIST CSS START */
        #DiagnosticList{
            height: 19vh;
            width: 50vw;
            background-color: white;
            border-radius: 30px;
            padding:2vw;
            padding-top: 0;
            overflow: hidden;
            margin-top: 2vh;
        }

        .table-container {
            width: 50vw;
            max-height: 20vh ;
            overflow: scroll;
        }

        table {
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: center;
            font-size: small;
        }

        th {
            background-color: #f4f4f4;
        } 

        .description-cell {
            max-width: 300px;
            overflow: auto;
            white-space: wrap;
        }

        /* DIANOSTICLIST CSS END */

        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
            height: 60vh;
          }
          
          .profile-picture {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
          }

          .info-value{
            color:black
          }
          .info-icon {
            font-size: 20px;
            margin-right: 10px;
          }
          .info-icon-cell{
            padding: 5px;
          }
          .info-text {
            font-size: 16px;
            color:grey
          }
          
          .button {
            background-color: #01F0D0;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 0px;
          }

          @media (max-width: 1150px) {
            #navbarOptions {
                gap: 10px;
            }
        
        }